.header {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-icon {
  font-size: 60px;
  padding: 1%;
}
.company-name {
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0.25%;
}
.profile-icon {
  font-size: 30px;
  text-align: center;
  background-color: rgb(252, 165, 217);
  padding-top: 1%;
  border-radius: 10%;
}
.profile-text {
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.email {
  font-size: large;
  display: center;
  align-content: space-evenly;
}
.home-header {
  text-align: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(239, 7, 200);
  padding: 10px;
}
.home-body {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(9, 7, 8);
  padding: 0px;
}
table {
  border: 2px solid rgb(239, 7, 200);
  width: 800px;
  height: 100px;
  margin: auto;
  padding: 30;
}
  
th {
  background-color: rgb(208, 148, 199);
}
  
td {
  text-align: center;
  background-color: rgb(220, 213, 220);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
tr {
  border: 2px solid rgb(239, 7, 200);
}
.nav-bar {
  background-color: rgb(77, 76, 76);
  display: flex;
  justify-content: space-evenly;
  font-size: larger;
  color:rgb(251, 5, 210)
}

.nav-link {
  color: rgb(247, 246, 247);
  padding: 2%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large
}

.form {
  box-shadow: 1px 2px 9px;
  border: 10px;
  padding: 2%;
  margin: 0 auto;
  display: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.location-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}